html,
body,
.root{
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
}
.wrap {
  display: flex;
  flex-grow: 1;
  height: 0;
}

.left {
  overflow-y: scroll;
  flex-shrink: 0;
  margin-right: 15px;
}

.right {
  flex-grow: 1;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.ellipsis {
  word-break: break-all;
}

.grey {
  color: #ccc;
}

.mb3 {
  margin-bottom: 3px;
}

.mb6 {
  margin-bottom: 6px;
}
