.header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
}

.header-brand {
  align-items: center;
  display: flex;
  font-size: 20px;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  width: 250px;
  height: 100%;
}

.header-list {
  display: flex;
}

.header-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
}

.table-simple {
  width: calc(100% - 1px);
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-simple > tbody > tr > td {
  border: 1px solid #ccc;
  padding: 4px 4px 10px 4px;
  font-size: 14px;
  vertical-align: top;
}

.table-simple > tbody > tr > td.nopd {
  padding: 0;
}

.mini-list {
  padding-left: 25px;
  margin: 0;
}

.menu {
  padding: 6px 2px;
}

.menu:hover {
  cursor: pointer;
  background-color: #eee;

}

.menu.active {
  background-color: #eee;
}

.no-data {
  background-color: #FFACAE;
}

.alert-data {
  background-color: red;
  color: white;
}

